@import "var";
@import "reset";

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-size: $text-size;
  background: $bg-color;
  height: 100%;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}
.wrapper {
  padding: $gap;
  min-height: 100vh;
  position: relative;
}
.header {
  height: $gap;
  position: fixed;
  z-index: -1;
  background: transparent;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  &-name {
    margin-left: $gap;
    font-size: $sm-text-size;
    background: $bg-color;
    padding: 5px;
  }
  .switch {
    position: relative;
    display: flex;
    align-items: center;
    height: 20px;
    width: 40px;
    background: $bg-card-color;
    border-radius: 10px;
    box-shadow: 0 0 2px black;
    margin-right: $gap;
    outline: none;
    cursor: pointer;
    .circle {
      height: 20px;
      width: 20px;
      background: $bg-card-color;
      box-shadow: 0 0 2px black;
      border-radius: 50%;
    }
    .circle-off {
      position: absolute;
      right: 0;
      background: $bg-color-dt;
      box-shadow: 0 0 2px #fff;
    }
  }
  .switch-dt {
    background: $icon-color-dt;
    box-shadow: 0 0 2px $icon-color-dt;
  }
}

.menu {
  width: $gap;
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 99;
  transition: translateY(50%);

  &-btn-burger {
    transition: 0.2s;
    filter: drop-shadow(0 0 2px $bg-color);
    width: 48px;
    height: 31px;
    position: absolute;
    left: 48px;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
    z-index: 99;
    &-line {
      width: 48px;
      height: 5px;
      background: $icon-color;
      display: block;
      &::before,
      &::after {
        content: "";
        width: 48px;
        height: 5px;
        background: $icon-color;
        display: block;
        position: absolute;
        left: -5px;
        top: 0;
        z-index: 99;
      }
      &::after {
        top: 26px;
      }
    }
  }
}
.links {
  width: $gap;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  i {
    color: $icon-color;
  }
}
.hero {
  padding: $gap;
  width: 100%;
  background: $primary-color;
  height: calc(100vh - 160px);
  margin: 0 0 $gap;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &:before {
    content: "";
    width: 50%;
    background: $bg-card-color;
    height: calc(100vh - 160px);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }
  &-text {
    position: relative;
    z-index: 10;
    &-heading {
      font-size: $text-size;
      font-weight: 700;
      margin: 0 0 40px;
      display: block;
    }
  }
  .info {
    opacity: 0;
    display: none;
    .hero-text-p {
      font-size: 28px;
    }
  }
  &:hover {
    &:before {
      opacity: 0;
      transform: translateY(100%);
      transition: opacity 4s, transform 2s;
    }
    .info {
      display: block;
      opacity: 1;
    }
    .welcome {
      opacity: 0;
      display: none;
    }
  }
}
.btn-menu {
  display: none;
  h2 {
    margin-bottom: 15px;
  }
}
.menu-open {
  .menu-btn-burger {
    width: 48px;
    height: 31px;
    position: absolute;
    left: 48px;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
    transform: translateX(-30px) scale(0.5);
    z-index: 99;
    &-line {
      width: 48px;
      height: 5px;
      background: $icon-color;
      display: block;
      transition: all 500ms ease-in-out;
      transform: rotate(45deg);
      &::before,
      &::after {
        content: "";
        width: 48px;
        height: 5px;
        background: $icon-color;
        display: block;
        position: absolute;
        left: 0;
        transform: rotate(-90deg);
        z-index: 99;
        transition: all 500ms ease-in-out;
      }
      &::after {
        opacity: 0;
      }
    }
  }
  .welcome {
    opacity: 0;
    display: none;
  }
}
a {
  text-decoration: none;
}
.menu-open .btn-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.menu-open .hero {
  &-text {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    &-heading {
      font-size: $text-size;
      font-weight: 700;
      margin: 0 0 40px;
      display: block;
    }
  }
  .info {
    opacity: 1;
    display: block;
    width: 40%;
  }
  &:before {
    content: "";
    width: 50%;
    background: $bg-card-color;
    height: calc(100vh - 160px);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }
  &:hover {
    &:before {
      opacity: 1;
      transform: translateX(0);
    }
  }
  &::before {
    animation: side-to-side;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}
@keyframes side-to-side {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.parallax {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../img/img1.png");
  height: 820px;
}
.skills {
  width: 100%;
  background: $bg-card-color;
  margin: 0 0 $gap;
  padding: $gap;
  font-size: $text-size;
  &-title {
    margin: 0 0 20px;
    color: $main-text;
    font-size: $gap;
  }
  .skill {
    display: flex;
    margin: 0 0 $text-size;
    align-items: center;
  }
  .skill-item {
    width: 40%;
  }
}
.progress-bar {
  display: inline-block;
  background: $brand-color;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  -webkit-transform: translate3d(0, 0, 0);
}
.css-bar {
  animation-name: css;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes css {
  0% {
    width: 14px;
  }
  10% {
    width: 14px;
  }
  80% {
    width: 55%;
    border-radius: 0;
  }
  100% {
    width: 55%;
    border-radius: 0;
  }
}
.layout-bar {
  animation-name: layout;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes layout {
  0% {
    width: 14px;
  }
  10% {
    width: 14px;
  }
  80% {
    width: 40%;
    border-radius: 0;
  }
  100% {
    width: 40%;
    border-radius: 0;
  }
}
.bootstrap-bar {
  animation-name: boot;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes boot {
  0% {
    width: 14px;
  }
  10% {
    width: 14px;
  }
  80% {
    width: 30%;
    border-radius: 0;
  }
  100% {
    width: 30%;
    border-radius: 0;
  }
}
.jquery-bar {
  animation-name: jquery;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes jquery {
  0% {
    width: 14px;
  }
  10% {
    width: 14px;
  }
  80% {
    width: 25%;
    border-radius: 0;
  }
  100% {
    width: 25%;
    border-radius: 0;
  }
}
.preprocessor-bar {
  animation-name: prep;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes prep {
  0% {
    width: 14px;
  }
  10% {
    width: 14px;
  }
  80% {
    width: 24%;
    border-radius: 0;
  }
  100% {
    width: 24%;
    border-radius: 0;
  }
}
.gulp-bar {
  animation-name: gulp;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes gulp {
  0% {
    width: 14px;
  }
  10% {
    width: 14px;
  }
  80% {
    width: 35%;
    border-radius: 0;
  }
  100% {
    width: 35%;
    border-radius: 0;
  }
}
.git-bar {
  animation-name: git;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes git {
  0% {
    width: 14px;
  }
  10% {
    width: 14px;
  }
  80% {
    width: 33%;
    border-radius: 0;
  }
  100% {
    width: 33%;
    border-radius: 0;
  }
}
.projects-section {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../img/img2.png");
  min-height: 820px;
  margin: 0 0 $gap;
}
.projects {
  transition: 3s;
  opacity: 0;
  padding: $gap;
  background: $main-text;
  min-height: 820px;
  &-title {
    color: #e6db74;
    font-size: $gap;
    margin: 0 0 $gap;
  }
  &-header {
    margin: 40px 0;
    color: #fff;
    font-size: $text-size;
    font-weight: 900;
  }
  &-p {
    color: $bg-card-color;
    width: 50%;
    font-size: 24px;
    margin: 0 0 20px;
  }
}
.email {
  display: flex;
  align-items: center;
}
.projects-section:hover .projects {
  transition: 2s;
  opacity: 1;
}
.experience {
  background: $bg-card-color;
  margin: 0 0 $gap;
  padding: $gap;
  .title {
    font-size: $gap;
    margin: 0 0 $gap;
  }
  .study {
    margin: 0 0 46px;
    .study-school {
      font-weight: 900;
    }
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $text-size;
  color: $main-text;
}
.num {
  font-size: $sm-text-size;
}
.style {
  color: $brand-color;
  font-size: 1.2rem;
  font-style: italic;
  display: block;
}
.dt {
  .style {
    color: $brand-color-dt;
  }
  i {
    color: $icon-color-dt;
  }
  .menu-btn-burger {
    filter: drop-shadow(0 0 2px $icon-color-dt);
    &-line {
      background: $icon-color-dt;
      &::before,
      &::after {
        content: "";
        background: $icon-color-dt;
      }
    }
  }

  .header-name {
    color: $bg-color;
    background: $bg-color-dt;
  }
  .hero {
    background: $icon-color;
    .num,
    .email {
      color: #000;
    }
  }
  background: $bg-color-dt;
  .experience {
    background: $main-text-dt;
    color: $bg-card-color;
  }
  .parallax {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../img/dark-image1.jpg");
    height: 820px;
  }
  .projects-section {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../img/dark-image2.jpg");
    min-height: 820px;
    margin: 0 0 $gap;
  }
  .skills {
    background: $main-text-dt;
    color: $bg-card-color;
    &-title {
      color: $bg-color;
    }
    .progress-bar {
      background: $brand-color-dt;
    }
  }
  .email {
    color: $bg-color;
  }
  .num {
    color: $bg-color;
  }
  .footer {
    svg * {
      fill: #fff;
    }
  }
}

@media screen and (max-width: 950px) {
  body {
    font-size: $media-ex-sm-size;
  }
  .header {
    &-name {
      font-size: $media-ex-sm-size;
    }
  }
  .links {
    .fab {
      font-size: $media-size;
    }
  }
  .hero {
    padding: $media-sm-size;
    margin: 0 0 $media-sm-size;
    .info {
      font-size: $media-ex-sm-size;
      .hero-text-heading {
        font-size: $media-sm-size;
        font-weight: 700;
        margin: 0 0 $media-sm-size;
        display: block;
      }
      .hero-text-p {
        font-size: 16px;
      }
    }
    &-text {
      &-heading {
        font-size: $media-size;
        font-weight: 700;
        margin: 0 0 40px;
        display: block;
      }
    }
  }
  .menu-open .hero-text {
    margin: 10px;
    position: relative;
    z-index: 10;
    .btn-menu {
      &-item {
        font-size: $media-ex-sm-size;
      }
    }
  }
  .style {
    font-size: 14px;
    margin: 0 0 -3px;
  }
  .skills {
    width: 100%;
    margin: 0 0 $media-sm-size;
    padding: $media-sm-size;
    font-size: $media-sm-size;
    &-title {
      margin: 0 0 $media-sm-size;
      font-size: $media-size;
      font-weight: 900;
    }
    .skill {
      margin: 0 0 $media-sm-size;
    }
    .skill-item {
      width: 40%;
      font-size: $media-sm-size;
    }
  }
  .projects-section {
    min-height: $media-sm-size;
    margin: 0;
  }
  .projects {
    padding: $media-sm-size;
    &-title {
      font-size: $media-size;
      margin: 0 0 $media-sm-size;
      font-weight: 900;
    }
    &-header {
      margin: $media-sm-size 0;
      font-size: $media-size;
      font-weight: 900;
    }
    &-p {
      width: 100%;
      font-size: $media-sm-size;
      margin: 0 0 $media-sm-size;
    }
  }

  .experience {
    margin: 0 0 30px;
    padding: $media-sm-size;
    .title {
      font-size: $media-size;
      margin: 0 0 $media-sm-size;
    }
    .study {
      margin: 0 0 40px;
      .study-school {
        font-weight: 900;
      }
    }
  }
  .footer {
    font-size: $text-size;
  }
  .num {
    font-size: $media-ex-sm-size;
  }
  .email {
    font-size: $media-ex-sm-size;
  }
}
